// Preloader
.preloader{
    position:fixed;
    left:0px; top:0px;
    width:100%;
    height:100%;
    z-index:999999;
    background-color:#000000;
    background-position:center center;
    background-repeat:no-repeat;
    background-image:url(/img/preloader.gif);
}
/*.modal-open {
    overflow: hidden !important;
}*/


a.simple-link {
    color: inherit;
    font-size: inherit;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        outline: none;
    }
}

// Buttons fix
button:active, button:focus {
    outline: none !important;
}
button::-moz-focus-inner {
    border: 0 !important;
}

#navbarHeader {
    border-bottom: 1px solid $primary;
    margin-bottom: -8px;
    background: url(/img/logo-v200dg.png) right bottom no-repeat;
    .left-border {
        border-left: 1px solid white;
    }
    .nav.main {
        a {
            color: white;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
    }
    a.nav-link {
        &:hover, &.active {
            color: white;
        }
    }


}

body {
    padding-top: 76px;
    @media (max-width:767px) {
        padding-top: 63px;
    }
    @media (max-width:460px) {
        padding-top: 53px;
    }
    @media (max-width:320px) {
        padding-top: 78px;
    }


}

.navbar-toggler {
    @media (max-width:575px){
        position: absolute;
        top:10px;
        right: 10px;
    }
    @media (max-width:460px){
        position: absolute;
        top:8px;
        right: 8px;
    }
}
.tel-block {
    font-size: 1.6rem;

    @media (max-width:767px){
        font-size: 1rem;
    }
    @media (max-width:540px){
        font-size: 1rem;
        margin-right: 0px;
    }
}

a.tel {
    color: white;
    &:hover {
        text-decoration: none;
    }
}
.main-logo {
    @include transition;
    @media (max-width:767px) {
        width: 150px;
    }
    @media (max-width:460px) {
        width: 110px;
    }
}

#carousel {
    .display-4 {
        @media (max-width:767px) {
            font-size: 2rem;
        }
        @media (max-width:460px) {
            font-size: 1.5rem;
        }

    }
    .lead {
        @media (max-width:460px) {
            font-size: 1rem;
        }
    }
}



/*
Removes white gap between slides - chagnge to base color of slide images
*/
.carousel {
    background:#000;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
    width:100%;
}

/*
anchors are inline so you need ot make them block to go full width

.carousel-item a {
    display: block;
    width:100%;
}
*/
.title_white,
.title_black,
.title_yellow {
    text-align: center;
    text-transform: uppercase;
    color: $white;
    h2{
        font-size: 2rem;
        padding-top: 70px;
        padding-bottom: 50px;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            background: $primary;
            height: 3px;
            width: 60px;
            left: 50%;
            transform: translateX(-50%);
            bottom: 30px;
        }
    }

}

.title_black {
    color: $black;
}
.title_yellow {
    color: $black;
    h2 {
        &:after {
            background: $white;
        }
    }
}


footer {
    .bottom-menu {
        nav a {
            color: $white;
            font-size: 1.2rem;
            padding-top: 20px;
            @include transition();

            &:hover,
            &.active {
                color: $primary;
                text-decoration: none;

            }
        }
    }
}

form.outline-primary {
    input,
    input:focus,
    textarea,
    textarea:focus {
        border-color: $primary;
        background: none;
        color: $primary;

    }
}

form.outline-secondary {
    input,
    input:focus,
    textarea,
    textarea:focus {
        border-color: $primary;
        background: none;
        color: $black;

    }
}