
.btn.btn-xl {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
    @media (max-width:991px) {
        padding: 0.7rem 1.1rem;
        font-size: 1rem;
        line-height: 1;
    }
}


.heading {
    position: relative;

    .capture {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    h1 {
        @media (max-width:991px) {
            font-size: 2rem;
        }

    }


}


.icon-font {
    text-align: center;
    font-size: 12rem;
    line-height: 3rem;
    small {
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        display: block;

    }
}

a.tel-context-dark {
    color: $primary;
    font-size: $font-size-base * 1.5;
    white-space: nowrap;
    &:hover {
        text-decoration: underline;
        color: white;
    }
}



#services {
    .card-header {






        a {
            background: #fed017;
            background: linear-gradient(to bottom, #fed017 0%,#ffe88d 50%,#fed017 100%);
            display: block;
            color: black;
            height: 150px;
            font-size: 3rem;
            line-height: 3rem;
            font-weight: bold;
            @media (max-width:991px) {
                height: 75px;
                font-size: 1.2rem;
                line-height: 1.2rem;
            }

            &.collapsed {
                background: #aaaaaa;
                background: linear-gradient(to bottom, #aaaaaa 0%,#eeeeee 50%,#aaaaaa 100%);
            }

            &:hover {
                background: #fed017;
                background: linear-gradient(to bottom, #fed017 0%,#ffe88d 50%,#fed017 100%);
                text-decoration: none;
            }
            img.service-icon {
                @media (max-width:991px) {
                    width: 75px;
                    margin-left: 0.5rem;
                }
            }


        }

    }
}